// 全局样式文件
// 加载字体图标样式
@import "./icon.less";

// body全局背景色
body {
    background-color: #f5f7f9;
}

// navbar样式
.home-container,
.login-container, 
.article-container,
.user-profile {
    .page-nav-bar {
        background-color: #3296fa;
        .van-nav-bar__title, .van-icon {
            color: #fff;
        }
    }
}

